extends layout

block content
    .ui.middle.aligned.center.aligned.grid
        .column
            h1.ui.teal.header Items
            div 
                ul
                    li This is a list
                    li of items
                    li that you can 
                    li only see 
                    li when you are 
                    li logged in
                
block footer
    script(src="/javascripts/checkAuth.js")